.creature-selector-creature-type {
  flex: 1 1 200px;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.creature-selector-cr {
  flex: 1 1 200px;
  display: flex;
  flex-direction: column;
}

.cr-range-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 10px;
  align-items: center;
}


